@model WebApplication1.Models.CarroModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir?</h3>
<div>
    @* <h4>CarroModel</h4> *@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Remover" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para Lista</a>
    </form>
</div>
